$tw-shadow: 0px 4px 20px rgba(44, 44, 44, 0.1);
$tw-shadow-colored: 0px 4px 20px var(--tw-shadow-color);
// img:after {
//   content: ' ';
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   background-color: #fff;
//   background-image: url(../../images/noimage.png);
//   background-position: center;
//   background-size: cover;
// }
#root {
  background-color: #f7f7f7;
}
a img {
  border: none;
  opacity: 1;
}
.w-8 {
  width: 2rem;
}

.h-8 {
  height: 2rem;
}
.w-14 {
  width: 3.5rem;
}
.h-14 {
  height: 3.5rem;
}
.w-16 {
  width: 4rem;
}
.h-16 {
  height: 4rem;
}
.w-12 {
  width: 3rem;
}
.h-12 {
  height: 3rem;
}
.w-32 {
  width: 8rem;
}

.h-32 {
  height: 8rem;
}
.w-10 {
  width: 2.5rem;
}
.h-10 {
  height: 2.5rem;
}
.h-6 {
  height: 1.5rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pr-4 {
  padding-right: 1.5rem;
}
.pr-5 {
  padding-right: 3rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.pl-4 {
  padding-left: 1.5rem;
}
.pl-5 {
  padding-left: 3rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mr-5 {
  margin-right: 3rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.ml-5 {
  margin-left: 3rem;
}
.master-column-wrapper {
  position: relative;
  z-index: 0;
}
.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.text-left {
  text-align: left;
}
.break-words {
  overflow-wrap: break-word;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  color: #1c1c1c;
}
a:hover {
  color: #3c3c3c;
}
li {
  list-style-type: none;
}
p {
  margin: 0;
  padding: 0;
}
.flex-col {
  flex-direction: column;
}
.fixed {
  position: fixed;
}
.left-4 {
  left: 1rem;
}
.right-4 {
  right: 1rem;
}
.text-primary {
  opacity: 1 !important;
  // --tw-text-opacity: 1 !important;
  color: #e65228 !important;
}
.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-md {
  font-size: 1rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.325rem;
}
.text-2xl {
  font-size: 1.35rem;
}
.text-3xl {
  font-size: 1.5rem;
}
.text-4xl {
  font-size: 1.75rem;
}
.text-6xl {
  font-size: 4rem;
}
.text-gray-700 {
  color: rgb(44 44 44);
}
.text-gray-500 {
  color: #6e6e6e;
}
.md\:text-base {
  font-size: 1rem;
}

.icon-line-height {
  line-height: 1;
}
.shadow-md {
  --tw-shadow: 0px 4px 20px rgba(44, 44, 44, 0.1);
  --tw-shadow-colored: #{$tw-shadow-colored};
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-bottom {
  box-shadow: 0 4px 8px rgba(44, 44, 44, 0.08);
}
.bg-white {
  background-color: rgb(255 255 255);
}
.bg-black-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity));
}
.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(44 44 44 / var(--tw-bg-opacity));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(226 226 226 / var(--tw-text-opacity));
}
.gap-4 {
  gap: 1rem;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.w-\[52\.5\%\] {
  width: 52.5%;
}
@media (min-width: 480px) {
  .tablet\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
@media (min-width: 480px) {
  .tablet\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 480px) {
  .tablet\:py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
}
@media (min-width: 811px) {
  .md\:p-4 {
    padding: 1rem;
  }
}

.rounded-xl {
  border-radius: 0.75rem;
}
@media (min-width: 480px) {
  .tablet\:h-6 {
    height: 1.5rem;
  }
}
#header-menu-mobile {
  top: -42px;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.btn {
  cursor: pointer;
  border-radius: 0.25rem;
  // border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.btn:hover {
  color: inherit;
}
.btn-simple {
  cursor: pointer;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-primary {
  background-color: rgb(230 82 40);
  color: rgb(255 255 255);
  border: none;
}
.btn-primary-hover {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.btn-primary-hover:hover {
  background-color: rgb(230 82 40) !important;
  color: rgb(255 255 255) !important;
  border: none !important;
}
.btn-secondary {
  background-color: rgb(247 247 247);
  color: rgb(44 44 44);
  border-color: none !important;
}
.btn-secondary-hover {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border-color: 1px solid #6c757d !important;
}
.btn-secondary-hover:hover {
  border-color: rgb(110 110 110);
  background-color: rgb(255 255 255);
}
.nav-btn {
  color: #fff;
  padding: 8px;
  border-radius: 0.5rem;
}
.nav-btn:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #343434;
}
.nav-btn svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  color: #fff;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
.last\:border-none:last-child {
  border-style: none;
}
.border-primary {
  border-color: rgb(230 82 40) !important;
}
.border-b {
  border-bottom: 1px solid #ccc;
}
.border-r {
  border-right: 1px solid #ccc;
}
.border-gray-300 {
  border-color: rgb(226 226 226);
}
.account-page input[type='radio']:checked {
  border: 1px solid #f04d24;
}
.account-page input[type='radio'] {
  border: 1px solid #b3b3b3;
}
input[type='radio']:checked {
  border: 2px solid #e15726;
}
input[type='radio'] input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  border: 2px solid #cacaca;
  transition: 0.2s all linear;
  position: relative;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.hidden {
  display: none;
}
.border-primary-gray {
  border-bottom: 1px solid #ccc;
}
.border-white {
  border-color: #f04d24;
}
// .border-white:hover {
//   border-color: rgb(255 255 255);
// }
.hover-primary:hover {
  color: #f04d24;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.bg-primary {
  background-color: #e65228 !important;
}
.bg-primary-lightBackground {
  background-color: transparent !important;
  border: 1px solid #f04d24 !important;
}
.bg-primary-lightBackground:hover {
  background-color: rgb(252 238 233) !important;
  border-color: rgb(252 238 233) !important;
}
// .bg-opacity-10 {
//   opacity: 0.1;
// }
.bg-gray-100 {
  background-color: rgb(247 247 247);
}
.whitespace-nowrap {
  white-space: nowrap;
}
.outline-none {
  border: none;
}
.outline-primary {
  border: thin solid #e15726;
}
.outline-secondary {
  border: thin solid #f7f7f7;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  animation: show-overlay 0.4s cubic-bezier(0.61, 1, 0.88, 1);
  animation-fill-mode: forwards;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}
.line-through {
  text-decoration: line-through;
}
@keyframes show-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 480px) {
  .tablet\:grid {
    display: grid;
  }
}
@media (min-width: 480px) {
  .tablet\:w-16 {
    width: 4rem;
  }
}

@media (min-width: 480px) {
  .tablet\:h-16 {
    height: 4rem;
  }
}
@media (min-width: 480px) {
  .tablet\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 480px) {
  .tablet\:justify-between {
    justify-content: space-between;
  }
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:text-white:focus {
  color: rgb(255 255 255);
}
.focus\:border-none:focus {
  border-style: none;
}
.hover\:text-white:hover {
  color: rgb(255 255 255) !important;
}
.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(230 82 40 / var(--tw-text-opacity));
}
// .hover\:text-primary {
//   color: rgb(230 82 40);
// }
.hover\:text-primary:hover {
  color: rgb(230 82 40);
}
.hover\:bg-primary:hover {
  background-color: rgb(230 82 40);
}
.btn-primary-hover:focus {
  background-color: rgb(179 65 25);
}
.btn-primary-hover:hover {
  background-color: rgb(179 65 25);
}
@media (min-width: 480px) {
  .tablet\:block {
    display: block;
  }
}

@media (min-width: 811px) {
  .md\:hidden {
    display: none !important;
  }
}
@media (min-width: 811px) {
  .md\:justify-start {
    justify-content: flex-start !important;
  }
}

@media (min-width: 811px) {
  .md\:flex-row {
    flex-direction: row !important;
  }
}
@media (min-width: 811px) {
  .md\:p-0 {
    padding: 0;
  }
}
@media (min-width: 811px) {
  .md\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}
@media (min-width: 811px) {
  .md\:pl-3 {
    padding-left: 0.75rem;
  }
}
@media (min-width: 811px) {
  .md\:w-1\/2 {
    width: 50% !important;
  }
}
@media only screen and (min-width: 1400px) {
  .separator {
    visibility: visible;
    display: flex;
  }
}

@media (min-width: 811px) {
  .md\:mr-2 {
    margin-right: 0.5rem;
  }
}
@media (min-width: 811px) {
  .md\:pr-3 {
    padding-right: 0.75rem;
  }
}
@media (min-width: 811px) {
  .md\:relative {
    position: relative !important;
  }
}
@media (max-width: 800px) {
  .overview-buttons {
    box-shadow: rgba(220, 220, 220, 0.2) 0px -5px 10px 5px;
  }
}
@media (min-width: 811px) {
  .md\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 811px) {
  .md\:px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 811px) {
  .md\:w-full {
    width: 100%;
  }
}
@media (min-width: 811px) {
  .md\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 811px) {
  .md\:mb-0 {
    margin-bottom: 0;
  }
}
@media (min-width: 811px) {
  .md\:relative {
    position: relative;
  }
}
@media (min-width: 811px) {
  .md\:text-xl {
    font-size: 1.25rem;
  }
}
@media (min-width: 811px) {
  .md\:text-sm {
    font-size: 0.875rem;
  }
}
@media (min-width: 1001px) {
  .page {
    text-align: left;
  }
}
@media (min-width: 811px) {
  .md\:grid {
    display: grid;
  }
}
@media (min-width: 811px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2 !important;
  }
}
@media (min-width: 811px) {
  .md\:col-span-4 {
    grid-column: span 4 / span 4 !important;
  }
}
@media (min-width: 811px) {
  .md\:px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.col-span-6 {
  grid-column: span 6 / span 6;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
@media (min-width: 811px) {
  .md\:grid-flow-col {
    grid-auto-flow: column;
  }
}
.grid-flow-row {
  grid-auto-flow: row;
}
.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.rounded-md {
  border-radius: 0.375rem;
}
.grid {
  display: grid;
}
.flex-grow {
  flex-grow: 1;
}
.top-3 {
  top: 0.75rem;
}

.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.rounded-bl {
  border-bottom-left-radius: 0.25rem;
}
.pending,
.proccessing {
  --tw-text-opacity: 1;
  color: rgb(235 158 3 / var(--tw-text-opacity));
}
.completed,
.approved {
  --tw-text-opacity: 1;
  color: rgb(54 179 126 / var(--tw-text-opacity));
}
.rejected {
  --tw-text-opacity: 1;
  color: rgb(227 72 80 / var(--tw-text-opacity));
}
.rounded-tl {
  border-top-left-radius: 0.25rem;
}
.rounded-br {
  border-bottom-right-radius: 0.25rem;
}
.rounded-tr {
  border-top-right-radius: 0.25rem;
}
.bg-opacity-10 {
  opacity: 0.1 !important;
  background-color: #e65228 !important;
}
.duration-150 {
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.i-bg-effect {
  min-width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  transition: background 0.4s ease;
}
.z-50 {
  z-index: 50;
}
.z-10 {
  z-index: 10;
}
[class^='icon-'],
[class*=' icon-'] {
  // font-family: gjirafa!important;
  // speak: never;
  font-style: normal;
  font-weight: lighter;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.small-image-container {
  flex-shrink: 0;
}
.max-w-full {
  max-width: 100%;
}
.max-h-full {
  max-height: 100%;
}

.right-0 {
  right: 0;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.shadow-halo {
  --tw-shadow: rgba(225, 87, 38, 0.3) 0px 0px 0px 3px;
  --tw-shadow-colored: 0px 0px 0px 3px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (max-width: 481px) {
  .master-wrapper-content,
  .header-menu {
    width: 100%;
  }
}

.master-column-wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.md\:p-3 {
  padding: 0.75rem;
}
@media (min-width: 811px) {
  .master-wrapper-content {
    width: 94%;
  }
}

@media (min-width: 811px) {
  .master-wrapper-content {
    width: 90%;
  }
}
@media (min-width: 1001px) {
  .master-wrapper-content {
    width: 980px;
  }
}
@media only screen and (min-width: 1400px) {
  .master-wrapper-content {
    width: 1280px;
  }
}
@media (min-width: 811px) {
  .md\:flex {
    display: flex !important;
  }
}
@media (min-width: 811px) {
  .md\:p-6 {
    padding: 1.5rem;
  }
}

.master-wrapper-content {
  position: relative;
  z-index: 0;
  margin-top: 0;
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(110 110 110 / var(--tw-text-opacity));
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 811px) {
  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 811px) {
  .md\:gap-4 {
    gap: 1rem !important;
  }
}
.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.rounded-full {
  border-radius: 9999px;
}
.responsive-wrapper {
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 811px) {
  .responsive-wrapper {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  .responsive-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
  }
}
@media screen and (min-width: 811px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 1400px) {
  .responsive-wrapper {
    width: 1280px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .responsive-wrapper {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 811px) {
  .responsive-wrapper {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 811px) {
  .md\:items-center {
    align-items: center;
  }
}
@media (min-width: 811px) {
  .md\:h-auto {
    height: auto;
  }
}
@media (min-width: 811px) {
  .md\:mr-0 {
    margin-right: 0;
  }
}
@media (min-width: 811px) {
  .md\:inline-block {
    display: inline-block;
  }
}
.capitalize {
  text-transform: capitalize;
}
.cart-qty {
  width: 15px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}
@media (min-width: 1001px) {
  #topcartlink {
    display: flex;
    width: auto;
    margin: 0;
    cursor: pointer;
  }
}
@media (min-width: 811px) {
  .md\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}
@media (min-width: 811px) {
  .md\:right-0 {
    right: 0;
  }
}
@media (min-width: 811px) {
  .md\:left-0 {
    left: 0;
  }
}
@media (min-width: 811px) {
  .md\:top-auto {
    top: auto !important;
  }
}
@media (max-width: 811px) {
  .md\:top-36rem {
    top: 3.6rem;
  }
}
@media (max-width: 811px) {
  .md\:h-66rem {
    height: 6.6rem;
  }
}
@media (min-width: 811px) {
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 811px) {
  .md\:mb-4 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 811px) {
  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 811px) {
  .md\:overflow-hidden {
    overflow: hidden;
  }
}
.bg-with-opacity {
  background-color: #fadcd4 !important;
}
.sold-out-productBox {
  width: calc(100%);
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.sold-out {
  width: 100%;
  z-index: 2;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
.disabled\:opacity-60:disabled {
  opacity: 0.6;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.scrollbar-modifier {
  scrollbar-track-color: #f4f4f4;
  // scrollbar-thumb-color: #888;
  scrollbar-width: thin;
  // scrollbar-radius: 5px;
  scrollbar-base-color: #888;
}

.scrollbar-modifier::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-modifier::-webkit-scrollbar-thumb {
  background-color: #e15726;
  border-radius: 5px;
}

.scrollbar-modifier {
  scrollbar-color: #888 #f4f4f4;
}
@media (min-width: 811px) {
  .md\:grid-flow-col {
    grid-auto-flow: column;
  }
}
@media (min-width: 811px) {
  .md\:p-0 {
    padding: 0 !important;
  }
}
.col-span-10 {
  grid-column: span 10 / span 10;
}
.center-3 {
  width: 100%;
}
.side-3 {
  width: 100%;
}
@media (min-width: 811px) {
  .center-3 {
    float: left !important;
    width: 68.7%;
  }
}
@media (min-width: 811px) {
  .side-3 {
    float: right !important;
    width: 30%;
  }
}
@media (max-width: 1000px) {
  #mobile-menu-categories {
    display: none;
  }
}

.mobile-sidebar-menu {
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 99999999;
  width: 0;
  left: 0;
}
.mobile-sidebar-menu-active {
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 99999999;
  width: 300px;
  left: 0;
}
