#relatedProducts {
  min-height: 100px;
}
.create-product {
  max-width: 40% !important;
  margin-left: 30% !important;
  justify-self: center;
  display: grid;
  gap: 2;
}
.create-product input,
select {
  width: 100%;
}
.product-details input {
  width: 100%;
  margin-bottom: 10px;
}
.create-product input[type='file'] {
  display: none;
}
.create-product .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;
}
.create-product .toggle-btn-wrapper {
  position: relative;
  width: 66px;
  height: 30px;
  overflow: hidden;
  border-radius: 8px;
}
.create-product.toggle-btn {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.create-product .knobs {
  z-index: 2;
  background-color: #e37046;
}
.create-product .knobs,
.create-product .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.create-product .toggle-btn-wrapper .knobs,
.create-product .toggle-btn-wrapper .knobs:before,
.create-product .toggle-btn-wrapper .layer {
  transition: 0.3s ease all;
}
.create-product .toggle-btn-wrapper .knobs,
.create-product .toggle-btn-wrapper .knobs:before,
.create-product .toggle-btn-wrapper .layer {
  transition: 0.3s ease all;
}

.create-product .layer {
  width: 100%;
  background-color: #f4f4f4;
  transition: 0.3s ease all;
  z-index: 1;
}
.create-product .knobs,
.create-product .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.create-product .toggle-btn-wrapper .toggle-btn:checked + .knobs:before {
  content: 'I';
  left: 36px;
  color: #e15726;
}

.toggle-btn-wrapper .knobs,
.toggle-btn-wrapper .knobs:before,
.toggle-btn-wrapper .layer {
  transition: 0.3s ease all;
}
.create-product .toggle-btn-wrapper .knobs:before {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: 26px;
  height: 22px;
  color: #8e8e8e;
  font-size: 10px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  box-shadow: 0 4px 10px rgb(44 44 44/10%);
}
