.swiper-slide-thumb-active {
  border: 1px solid #e15726 !important;
}

.thumb-slider-container {
  max-height: 400px;
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.product-picture-slider .swiper-wrapper {
  align-items: center;
  transform: translate3d(0px, 0px, 0px);
}
.product-picture-slider .swiper-slide {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.product-picture-slider img {
  max-height: 400px;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
  min-width: 70px;
}
.thumb-slider .swiper-slide {
  display: flex;
  justify-content: center;
  height: 50px !important;
  width: 50px !important;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
.thumb-slider img {
  max-width: 40px;
  max-height: 40px;
}
