#topbar {
  height: 42px;
}
.search-box-inp {
  width: 92%;
  transition: width 0.3s ease;
  transform: translate3d(0, 0, 0) translateZ(0);
  backface-visibility: hidden;
  will-change: width;
}
.top-menu {
  display: grid;
  align-items: center !important;
  justify-content: center !important;
}
.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-flow-col {
  grid-auto-flow: column;
}
.grid {
  display: grid;
}
.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.parent-category-active:hover .sublist {
  display: block;
}
.gap-y-2\.5 {
  row-gap: 0.625rem;
}
.header-container {
  position: relative;
  z-index: 6;
}

.cartItems-count__div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: #e15726;
  color: white;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -25px;
  z-index: 1;
}
.menu-rc {
  width: 350px !important;
  padding: 10px !important;
}
.menu-item {
  height: 80px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.menu-item:last-child {
  border-bottom: none !important;
}
.menu-item__image {
  margin-right: 15px;
}
.makeOrder-btn {
  cursor: pointer;
  color: #000;
  pointer-events: visible;
  box-shadow: 0 4px 10px -4px #aaa;
  border-radius: 3px;
  background: #1d1d1d;
  color: #fff;
  border: none;
  padding: 6px 14px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-item__body {
  display: flex;
  flex-direction: column;
}
.menu-item__title a:hover {
  color: red;
  border-bottom: 1px solid red;
}
.count-price {
  font-size: 13px;
}
.hover-content svg {
  /* font-size: 13px; */
  width: 10px;
  height: 10px;
  padding: 3px;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
}
*/ #header-menu-mobile {
  top: -42px;
}

.nav-i-animation {
  transition: transform 0.3s ease;
  transform: translate3d(0, 0, 0) translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
}
.navbar-logo {
  width: 115px;
}
.max-w-username {
  max-width: 150px;
}

#small-search-box-form,
#small-searchterms {
  background-color: #4b4b4b;
  color: #cecece;
  border: none;
  transition: all ease 0.3s;
  border-radius: 4px;
}
#ui-id-1 {
  overflow-y: scroll !important;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-front {
  z-index: 100;
}
.ui-autocomplete {
  border: 1px solid #ddd;
  border-top: none;
  overflow: hidden;
  background-color: #f7f7f7;
  text-align: left;
  border-radius: 0;
  padding: 10px;
  font: 14px inter, sans-serif;
}
.ui-widget-content {
  border: 1px solid #ddd;
  background: #e7e7e7;
  color: #333;
}
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-autocomplete {
  border: 1px solid #ddd;
  border-top: none;
  overflow: hidden;
  background-color: #f7f7f7;
  text-align: left;
  border-radius: 0;
  padding: 10px;
  font: 14px inter, sans-serif;
}
.ui-widget-content {
  border: 1px solid #ddd;
  background: #e7e7e7;
  color: #333;
}
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-autocomplete li:first-child {
  border-top: none;
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px 0.4em;
}
.ui-autocomplete a {
  display: flex;
  padding: 15px;
  font-size: 12px;
  margin: 0 0 5px !important;
  padding: 10px !important;
  line-height: normal !important;
  color: #6e6e6e !important;
}
.ui-widget-content a {
  color: #333;
}
.ui-autocomplete a:hover,
.ui-autocomplete a:focus,
.ui-autocomplete a.ui-state-focus {
  border: 1px solid #e15726 !important;
}
.search-autocomplete-image {
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  max-width: 2.5rem;
}
.search-autocomplete-image img {
  max-width: 100%;
  max-height: 100%;
}
.mobile-sidebar-menu {
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 99999999;
  width: 0;
  left: 0;
}
.mobile-sidebar-menu-active {
  top: 0;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 99999999;
  width: 300px;
  left: 0;
}

.nav-i-animation {
  transition: transform 0.3s ease;
  transform: translate3d(0, 0, 0) translateZ(0);
  backface-visibility: hidden;
  will-change: transform;
}

.-left-full {
  left: -100%;
}

.duration-300 {
  transition-duration: 300ms;
}

.mobile-sidebar-menu > li {
  background-color: #fff;
  font-weight: 600;
  font-size: 13px;
}
.sidebar-menu-active .mobile-sidebar-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 555;
}
.test-ovfl {
  overflow-y: hidden;
}
@media only screen and (min-width: 811px) {
  .header-menu > ul.mobile {
    display: none !important;
  }
}
@media (min-width: 811px) {
  .top-menu {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .top-menu {
    width: 90%;
  }
}
@media only screen and (max-width: 811px) {
  .top-menu {
    display: none !important;
  }
}
@media only screen and (min-width: 1400px) {
  .top-menu {
    width: 1280px;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu > ul > li:hover {
    background-color: #f2f2f2;
  }
}
@media only screen and (min-width: 1200px) {
  .header-menu {
    width: 100%;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu {
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .header-menu {
    width: 100%;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu > ul > li:hover {
    background-color: #f2f2f2;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu > ul > li:first-child {
    border-left: 1px solid #eee;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu > ul > li {
    border-right: 1px solid #eee;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu > ul > li > div > a {
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    color: #2c2c2c;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 811px) {
  .header-menu .sublist {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 10px 11px 16px 0;
    text-align: left;
    top: 100%;
    z-index: 21;
    left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .header-menu .sublist {
    width: 90%;
  }
}
@media only screen and (min-width: 1400px) {
  .header-menu .sublist {
    width: 1280px;
  }
}
@media (min-width: 811px) {
  .search-box-inp {
    transition: transform 0.3s ease;
    width: 40% !important;
    transition: width 0.3s ease;
    transform: translate3d(0, 0, 0) translateZ(0);
    backface-visibility: hidden;
    will-change: width;
  }
}
@media only screen and (min-width: 811px) {
  .menu-toggle,
  .sublist-toggle {
    display: none;
  }
}
@media (min-width: 811px) {
  #small-searchterms {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
}
@media (min-width: 481px) {
  .ui-autocomplete {
    max-height: 359.4px;
  }
}
@media (min-width: 481px) {
  .ui-autocomplete {
    max-height: 359.4px;
  }
}
@media (min-width: 1400px) {
  .ui-autocomplete {
    border-radius: 4px;
    --tw-shadow: 0px 5px 10px rgba(44, 44, 44, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}
