.personal-info_topdiv {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 1.5rem;
  padding-bottom: 15px;
}
.personal-info__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.personal-info__input label {
  font-size: 12px;
  margin-bottom: 7px;
}
.account-page .customer-info-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #e65228 !important;
  background: 0 0;
  box-shadow: none;
}
.account-page input[type='radio']:checked {
  border: 1px solid #f04d24 !important;
}
.account-page input[type='radio'] {
  border: 1px solid #b3b3b3 !important;
}
input[type='radio']:checked {
  border: 2px solid #e15726 !important;
}
input[type='radio']:checked::after {
  content: '';
  background-color: #e15726;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: 5px solid #e15726;
  border-radius: 50%;
}
.form-check-input:checked {
  background-color: transparent;
}
