.slidedown {
  max-height: 400px;
  opacity: 1;
}
.slideup,
.slidedown {
  overflow-y: hidden;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.slideup {
  max-height: 0;
  opacity: 0;
}
.slideup,
.slidedown {
  overflow-y: hidden;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
